.userStep {
    $self: &;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #fff;


    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 20px;
        text-align: center;
        vertical-align: middle;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(3.5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 4px;
        position: relative;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: 0px 1px 2px rgba(2, 0, 83, 0.21);

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            
            border-radius: 4px;
            padding: 1px;
            
            
            background: linear-gradient(99.01deg, rgba(255, 255, 255, 0.43) -17.63%, rgba(255, 255, 255, 0) 100%);
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
        }
    }

    &__name {
        font-size: 1.4rem;
        line-height: 1.37;
        font-weight: 700;
    }

    &_success {
        #{$self}__count {
            background: linear-gradient(142.25deg, #2FEF57 20.57%, #2BBA4C 48.47%, #20948C 78.79%);

            &:before {
                //TODO: здесь непонятен цвет бордера
                background: linear-gradient(99.01deg, rgba(255, 255, 255, 0.43) -17.63%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
}