.btn {
    background-color: #2BBB49;
    background-image: url('./icons/active.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    position: relative;
    border: none;
    width: 254px;
    height: 48px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: 0.025em;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;


    &:hover {
        background-image: url('./icons/hover.svg');
    }

    &:focus, &:active, &.active {
        background-image: url('./icons/click.svg');
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}